* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F3F6FA;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Consolas;

}

.mobile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
}

.temp-converter {
  background: #fff;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 25px 45px;
  min-width: 320px;
  width: 100%;
  height: auto;
}

.title {
  color: #222;
  margin-bottom: 22px;
  font-size: 1.5rem;
  text-align: center;
  font-size: medium;
  font-weight: 600;
}
.result {
  margin: 10px 0;
}
.result-heading {
  color: #555;
  font-size: 1rem;
  font-weight: 600;
}
.celsius-value {
  border-bottom: 2px solid #ccc;
  padding: 10px;
  transition: all .45s ease;
}
label {
  color: #555;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
input,
select {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #ccc;
  padding: 8px;
  margin-bottom: 15px;
}
input:focus {
  border: 1px solid #4c49f3;
}
.degree-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0;
}
.degree-field {
  display: flex;
  flex-direction: column;
  width: 46%;
}
#convert-btn {
  background-color: #007AFF;
  border: none;
  outline: none;
  border-radius: 12px;
  color: #f6f6f6;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
  padding: 12px 80px;
  transition: all 0.3s ease-in;
}
#convert-btn:hover {
  background: #112ff5;
}
